.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Django Database: it is not ignored as this is a demo project.
#db.sqlite3

# These are practice project files, so environment variables are not ignored for simplicity
#.env

# Although this is a practice project, .htpasswd should be ignored by git. It needs to be created when the project is pulled.
/part-8-nginx-rate-limiting/nginx/pwd/.htpasswd

# Static files
staticfiles/

# Node modules
node_modules/

# IDE/editor-specific files
.vscode/
.idea/

# Logs
*.log
